body {
  background: linear-gradient(
  135deg,
  #0b0002 0%,
  #2b0008 20%,
  #6e0f1c 35%,
  #b11226 50%,
  #6e0f1c 65%,
  #2b0008 80%,
  #000000 100%
)
}

#playing-cards {
  margin: 150px auto;
  /*border: 2px solid white;*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px;
  font-size: 20px;
  
}

.card {
  
  transition: filter 0.3s ease;
  border-radius: 15px;
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  background: linear-gradient(90deg,  rgb(1, 156, 156), rgb(45, 62, 62));
}

.left {
  /*border: 1px solid red;*/
  border-radius: 50px;
  padding: 0 15px;
  align-self: flex-start;
  margin: 15px;
  text-shadow: 5px 5px 4px cyan;

}
.middle {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 100px;
  text-shadow: 5px 5px 4px cyan;

}
.right {
  
  align-self: flex-end;
  transform: rotate(180deg);
  /*border: 1px solid red;*/
  border-radius: 50px;
  padding: 0 15px ;
  margin: 15px;  
  text-shadow: 5px 5px 4px cyan;
}

.heart, .diamond {
  color: crimson;
}
.card:hover {
  transform: scale(1.2);
  
}
.playing-cards:hover .card {
  
}